.container {
  width: 100%;
  background-color: $color-black;
  max-width: 1050px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (max-width: $mobile-width) {
  .container {
    background-color: $color-green;
    padding-right: 15px;
    padding-left: 15px;
  }
}
