@font-face {
  font-weight: 700;
  font-family: "Play";
  font-style: normal;
  src: url("../fonts/Play-Bold.woff2") format("woff2"),
    url("../fonts/Play-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  font-family: $main-font;
  color: $color-black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.4;
}

input::placeholder {
  overflow: visible;
}
