$color-white: #ffffff;
$color-black: #000000;
$color-green: #77b900;
$color-grey: #808080;
$main-font: "Roboto", "Arial", sans-serif;
$second-font: "Play", "Arial", sans-serif;
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 740px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
